<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    {# UCRM UI Stylesheets #}
    <link rel="stylesheet" href="/assets/fonts/lato/lato.css?v=2.15.0-beta5">
    <link rel="stylesheet" href="/assets/fonts/ubnt-icon/ubnt-icon.css?v=2.15.0-beta5">
    <link rel="stylesheet" href="/assets/fonts/ucrm-icon/style.css?v=2.15.0-beta5">
    <link rel="stylesheet" href="/assets/vendor/jquery-ui/themes/smoothness/jquery-ui.min.css?v=2.15.0-beta5">
    <link rel="stylesheet" href="/assets/vendor/leaflet/leaflet.css?v=2.15.0-beta5">
    <link rel="stylesheet" href="/dist/main.min.css?v=2.15.0-beta5">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">

    {# Override Bootstrap classes when necessary to keep similar UCRM formatting! #}
    <style>
        /*
        .content--inner {
            background-color: #edf0f3;
        }
        */
    </style>

    <link rel="stylesheet" href="public/css/main.css">

    {% block styles %}{% endblock %}

    {# UCRM UI Scripts #}
    <script type="text/javascript" src="/dist/jquery.min.js?v=2.15.0-beta5"></script>

    {% block scripts %}{% endblock %}

</head>

<body>
<div id="header">
    <h1 class="float-left mr-3">Revenue Report</h1>
    <a href="https://github.com/ucrm-plugins/revenue-report" target="_blank" class="button button--icon-only">
        <img src="?/images/github/logo-32px.png" alt="GitHub" height=16>
    </a>
</div>

<div id="content" class="container container-fluid ml-0 mr-0">
    <div class="row mb-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form id="report-form">
                        <div class="form-row align-items-end">
                            <div class="col-3">
                                <label class="mb-0" for="frm-organization"><small>Organization:</small></label>
                                <select name="organization" id="frm-organization" class="form-control form-control-sm">
                                    <?php
                                        foreach ($organizations as $organization) {
                                            printf(
                                                '<option value="%d" %s>%s</option>',
                                    $organization['id'],
                                    (int) ($result['organization'] ?? 0) === (int) $organization['id']
                                    ? 'selected'
                                    : '',
                                    htmlspecialchars($organization['name'], ENT_QUOTES)
                                    );
                                    }
                                    ?>
                                </select>
                            </div>

                            <div class="col-3">
                                <label class="mb-0" for="frm-since"><small>Since:</small></label>
                                <input type="date" name="since" id="frm-since" placeholder="YYYY-MM-DD" class="form-control form-control-sm" value="<?php echo htmlspecialchars($result['since'] ?? '', ENT_QUOTES); ?>">
                            </div>

                            <div class="col-3">
                                <label class="mb-0" for="frm-until"><small>Until:</small></label>
                                <input type="date" name="until" id="frm-until" placeholder="YYYY-MM-DD" class="form-control form-control-sm" value="<?php echo htmlspecialchars($result['until'] ?? '', ENT_QUOTES); ?>">
                            </div>

                            <div class="col-auto ml-auto">
                                <button id="btn-submit" type="submit" class="btn btn-primary btn-sm pl-4 pr-4">Generate</button>
                                <span id="btn-loading" class="d-none btn btn-primary btn-sm pl-4 pr-4 disabled">
                                        Generating...
                                    </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>

{# UCRM UI Scripts #}
{#<script src="/dist/app.min.js?v=2.15.0-beta5" type="text/javascript"></script>#}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"
        integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP"
        crossorigin="anonymous">
</script>

</body>
</html>