*
{
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body
{
    position: relative;
    background-color: #edf0f3;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#header > h1
{
    margin: 0;
    color: #4c4c4c;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 300;
}

#header
{
    display: block;
    margin: 0;
    background: #fff;
    box-shadow: 0 0 1px 0 rgba(0,0,0,.1);
    padding: 15px 32px;
}

#content
{
    padding: 18px 32px 32px;
    height: 100%;
}

#notice-container
{
    position:absolute;
    top:0;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px)
{
    .w-sm-25
    {
        width: 25% !important;
    }
    .w-sm-50
    {
        width: 50% !important;
    }
    .w-sm-75
    {
        width: 75% !important;
    }
    .w-sm-100
    {
        width: 100% !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .w-md-25 {
        width: 25% !important;
    }
    .w-md-50 {
        width: 50% !important;
    }
    .w-md-75 {
        width: 75% !important;
    }
    .w-md-100 {
        width: 100% !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .w-lg-25 {
        width: 25% !important;
    }
    .w-lg-50 {
        width: 50% !important;
    }
    .w-lg-75 {
        width: 75% !important;
    }
    .w-lg-100 {
        width: 100% !important;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .w-xl-25 {
        width: 25% !important;
    }
    .w-xl-50 {
        width: 50% !important;
    }
    .w-xl-75 {
        width: 75% !important;
    }
    .w-xl-100 {
        width: 100% !important;
    }
}



