{% extends "common/ucrm.twig" %}



{# TODO: Add common filters panel??? #}
{% block filters %}
{% endblock %}

{% block content %}
    <div class="content--fixed container--comfy">
        <div class="row">
            <div class="col-md-12">


                &nbsp;




            </div>
        </div>
    </div>








    <script>
        $(function () {
            /*
            $('.toggle').bootstrapToggle({
                on: "",
                off: ""
            })
            */
        });


    </script>

{% endblock %}

